.footer {
  margin-top: 100px;
  left: 0;
  bottom: 0;
  padding: 10px 40px 10px 40px;
  background-color: #333;
  color: white;
  text-align: center;
  font-family: Helvetica, sans-serif;  
  font-size: 15px;
 
}

.footer a:link {
   color:white;
}

.footer a:visited {
   text-decoration: none;
 color: gray;
}

h5 {
 display: block;
 font-size: 1.3em;
 margin-top: 0.83em;
 margin-bottom: 0.4em;
 margin-left: 0;
 margin-right: 0;
 font-weight: bold;
 font-family: Copperplate, Papyrus, fantasy;
}

.flex-container{
 display: flex;
}

.vertical a{
  display: block;
  line-height: 1.6;
  color: white;
}

.vertical a:hover{
  color: white;
}

.footer .flex-container > div{
 margin-right:40px;
 padding: 50px;
}

.flex-container img{
 padding-top:10px;
  width:20px;
  height:20px;
 
}





